<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" lang="en">
<head>
    <title>Add New Student</title>
</head>

<body class="add-student">
<div class="p-3 mb-2 bg-success text-white" th:if="${param.success}">Student added with success</div>
<div class="container">
    <section layout:fragment="content">
    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <h5 th:text="'Welcome back ! '+${username}"></h5>
            <div class="user">
                <img th:src="'data:image/jpeg;base64,' + ${userImg}" alt="UserImage">
            </div>
        </div>

        <div class="details full-width-div">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Add New Student</h2>
                </div>
                <form action="/addStudent" method="POST" enctype="multipart/form-data">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="form-group">
                        <label class="col-form-label">Image <span class="text-danger">*</span></label>
                        <input class="form-control" type="file" name="file" id="customFile" for="customFile"/>
                    </div>
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" class="form-control" name="fname" required>
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" class="form-control" name="lname" required>
                    </div>
                    <div class="form-group">
                        <label>Select Courses:</label>
                        <select multiple class="form-control" name="courses" required>
                            <option th:each="course : ${courses}" th:value="${course.getId()}" th:text="${course.getName()}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    </section>
</div>
</body>
</html>
