<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" lang="en">
<head>
    <title>Dashboard</title>
</head>

<body>
<section layout:fragment="content">
<div class="container">
    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <div class="search">
                <form method="get" th:action="@{'/getStudentsList'}">

                <label>
                    <input type="text" placeholder="Search here" name="keyword" th:value="${keyword}">
                    <ion-icon name="search-outline"></ion-icon>
                </label>

                </form>
            </div>
            <h5 th:text="'Welcome back ! '+${username}"></h5>
            <div class="user">
                <img th:src="'data:image/jpeg;base64,' + ${userImg}" alt="StudentImage">
            </div>
        </div>

        <!-- ================ Order Details List ================= -->
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Students List</h2>
                </div>
                <form method="get" th:action="@{'/getStudentsList'}">
                    <table>
                        <thead>
                        <tr>
                            <td>Image</td>
                            <td>First name</td>
                            <td>Last name</td>
                            <td>Phone</td>
                            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Action</td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="student:${listStudent}">
                            <td width="60px"><div class="imgBx">
                                <img th:src="'data:image/jpeg;base64,' + ${student.imgP}" alt="StudentImage">
                            </div></td>
                            <td th:text="${student.fname}"></td>
                            <td th:text="${student.lname}"></td>
                            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:text="${student.phone}"></td>
                            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                                <span class="status delivered" ><a th:href="@{'updateStudent/'+${student.id}}">update</a></span>
                                <span class="status return" ><a th:href="@{'deleteStudent/'+${student.id}}">delete</a></span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </form>

                <div class="container pagination-container">
                    <ul class="nav nav-pills">
                        <li class="nav-item" th:each="p, stat : ${pages}">
                            <a th:class="${stat.index} == ${currentPage} ? 'active' : ''"
                               th:text="${stat.index + 1}"
                               th:href="@{/getStudentsList(page=${stat.index}, keyword=${keyword})}"></a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="recentCustomers">
                <div class="cardHeader">
                    <h2>Recently added students</h2>
                </div>

                <table>
                    <tr th:each="student:${latestStudents}">
                        <td width="60px" >
                            <div class="imgBx"><img th:src="'data:image/jpeg;base64,' + ${student.imgP}" alt="StudentImage"></div>
                        </td>
                        <td>
                            <h4 th:text="${student.fname}"></h4>
                        </td>
                        <td>
                            <h4 th:text="${student.lname}"></h4>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
</div>
</section>
</body>

</html>